/* Application css */

body{
	margin-left:50px !important;
	margin-right:50px !important;
}

h2{
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	font-family: 'Orienta', sans-serif;
}

.button-green {
	background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
     font-size: 125%;
 }
 
