/* Application css */

body{
	margin-left:50px !important;
	margin-right:50px !important;
}

h2{
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	font-family: 'Orienta', sans-serif;
}

.button-purple {
	background: #7B1FA2;
	color: white;
}

.button-blue {
	background: #2196F3;
	color: white;
}

.button-orange {
	background: #EF6C00;
	color: white;
}

.button-red {
	background: #F44336;
	color: white;
}

.button-green {
	background: rgb(28, 184, 65);;
	color: white;
}

.button-xlarge {
     font-size: 125%;
 }
 
